/* The sauce of your page. Font size depends on browser settings for accessibility. */
body{
      background-color: #21202b;
      color: #bec1cd;
      font-family: Cambria, Georgia, serif;
      font-size: 120%;
      padding: 3px;
      line-height: 1.4em;
}

/* Headers! I use the second largest headers because why not. */
h2{
      border-bottom: 2px solid #735c73;
      padding:2px;
}

/* Footer of each page, also changing font size depending on settings. */
.footer{
      text-align:center;
      font-size:75%;
}

/* Link colors and highlights! */
a{
      color:#bbaad5;
      border-bottom: 2px solid #bbaad5;
      text-decoration:none;  
}

/* Link hover! */
a:hover{
      color:#e6cbe6;
      border-bottom: 2px solid #e6cbe6;
      text-decoration:none;  
}

/* Manually sizing images for mobile accessibility! */
img {
      max-width: 100%;
      height: auto;
}

/* Image bullets that won't make a screen reader user groan in pain, because these properly show up as bullets! */
ul{
      list-style-image: url("/img/bullet.jpg");
}

/* Selection color. It won't work on some browsers, but it not working doesn't interfere with your enjoyment of the site. */
::selection {
  background: #a99a86;
  color:black;
}
