body{
      background-color:black;
      color:white;
      font-family:sans-serif;
      font-size:125%;
      padding:3px;
}
.footer{
      text-align:center;
      font-size:75%;
}
a{
      background-color:#704FA2;
      color:black;
      border-radius:5px;
      text-decoration:none;  
}
img {
      max-width: 100%;
      height: auto;
}
a:hover{
      background-color:#30d5c8;
      color:black;
      border-radius:5px;
      text-decoration:none;  
}
a:visited{
      background-color:#c8a2c8;
      color:black;
      border-radius:none;
      text-decoration:underline;  
}
ul{
      list-style-image: url("/img/bullet.jpg");
}
