body{
      background-color: #21202b;
      color: #bec1cd;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 125%;
      padding: 3px;
}
h2{
      border-bottom: 3px solid #735c73;
      padding:2px;
}
.footer{
      text-align:center;
      font-size:75%;
}
p{
      padding-left:2px;
}
.badges{
      position:absolute;
      top:0;
      right:0;
      padding:5px;
}
a{
      background-color:#bbaad5;
      color:#21202b;
      border-radius:5px;
      text-decoration:none;  
}
img {
      max-width: 100%;
      height: auto;
}
a:hover{
      background-color:#e6cbe6;
      color:#21202b;
      border-radius:5px;
      text-decoration:none;  
}
ul{
      list-style-image: url("/img/bullet.jpg");
}

::selection {
  background: #a99a86;
  color:black;
}
